#container{
    height: 100%;
    width: 100%;
    /* background-color: green; */
}

#Container{
    height: 50%;
    max-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.convertBtn {
  /* padding: 0.7rem; */
  margin: 0.7rem;
  background-color: var(--black-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

@media screen and (min-width:430px) {
    #Container{
    height: 60%;
}
}