#formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.currencyForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding:1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* background-color: var(--black-color); */
}

.dropdownGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectWrapper label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.selectWrapper select {
  padding: 0.5rem;
  border-radius: 6px;
  width: 100%;
  border: 1px solid #ccc;
}

.amountInput {
  padding: 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* .convertBtn {
  padding: 0.7rem;
  background-color: var(--black-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer; */
  /* transition: transform 3s ease-in-out; */
  /* transition: background-color 0.3s ease; */


/* .convertBtn:hover {
  background-color: rgb(89, 23, 23);
} */


/* .convertBtn:active{
  transform: translateZ(3px) scaleX();

} */

.convertBtn {
  padding: 0.7rem;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.convertBtn:hover {
  transform: translateY(-2px);
}

.convertBtn:active {
  transform: translateY(0);
}

@media screen and (min-width:430px) {
  .currencyForm {
  width: 50%;
}
}

@media screen and (max-width:430px) {
  .select{
    width: 100%;
  }
}